@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply w-full;
  @apply h-full;
  @apply bg-slate-500;
  /* @apply min-w-[375px] */
}

.logo {
  height: 70px;
  border-bottom: 1px solid #475569;
}

#rightContent::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.inputrighticon {
  margin-left: -20px;
}